@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: rgb(24, 25, 27);
}

h1 {
    font-family: 'Share Tech Mono', monospace;
    font-size: 3rem;
    color: white;
}

h2 {
    font-family: 'Share Tech Mono', monospace;
    font-size: 2rem;
    color: white;
}
a {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.6rem;
    text-decoration: none;
    color: white;
}
p {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.2rem;
    color: rgb(167, 167, 167)
}

#header {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-areas: 
    "he li";
    align-items: start;
    justify-content: start;
}

#header header {
    grid-area: he;
    width: fit-content;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgb(24, 25, 27);
}

#header header div {
    width: 4px;
    height: 40px;
    margin-left: 44px;
    border-radius: 1px;
    background-color: white;
}

#link_list {
    grid-area: li; 
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    background-color: rgb(24, 25, 27); 
}

#links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
#links li {
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header_link {
    position: relative;
    left: -20px;
    margin-left: 20px;
    text-decoration: none;
    transition: 0.2s;
}
.sublink {
    margin: 5px;
    transition: 0.2s;
}
.sublink p {
    transition: 0.2s;
}
.hide {
    transition: 0.2s;
}
.hide p {
    font-size: 0px;
    transition: 0.2s;
}

#start_background {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
#start_title {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#start_title h2 {
    font-style: italic;
    align-self: start;
}
#read_more_arrow {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#read_more_arrow svg {
    fill: rgb(255, 255, 255);
    transform: scale(1.3, 1);
}

#start_grid {
    position: absolute;
    top: 100vh;
    width: 100%;
    height: 1000px;

    display: grid;
    grid-template-columns: 35vw 35vw;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "p1 i1"
    "i2 p2";

    justify-content: center;
    align-items: start;

    background-color: rgb(24, 25, 27);
}

#start_paragraph_1 {
    grid-area: p1;

    margin: 40px;
}
#start_paragraph_1 h1 {
    text-align: end;
    margin-top: 20px;
}
#start_paragraph_1 p {
    text-align: end;
    margin-top: 20px;
}
#start_image_1 {
    grid-area: i1;

    margin: 40px;

    transform: scale(1.5);
    image-rendering: crisp-edges;
}
#start_image_2 {
    grid-area: i2;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
#start_paragraph_2 {
    grid-area: p2;
}
#start_paragraph_2 h1 {
    margin-top: 20px;
}
#start_paragraph_2 p {
    margin: 20px;
}


#game_list {
    grid-area: ga;
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 500px 500px;
    grid-template-areas: 
    "g1 g2"
    "g3 . ";
    justify-content: center;
}

#game_list a {
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    text-decoration: none;
}

#game_1 {
    grid-area: g1;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgb(0, 0, 0)), url("/img/othello_1.png");;
}
#game_1:hover {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)), url("/img/othello_1.png");;
}
#game_2 {
    grid-area: g2;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgb(0, 0, 0)), url("/img/terrain_game_1.png");;
}
#game_2:hover {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)), url("/img/terrain_game_1.png");;
}
#game_3 {
    grid-area: g3;
    background-color: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
}

#game_grid {
    display: grid;
    grid-template-columns: 30vw 30vw;
    grid-template-areas: 
    "ti ti"
    "p1 p1"
    "i1 p2"
    "qu qu"
    "li li";
    justify-content: center;
}
#game_title {
    grid-area: ti;
    text-align: center;
    margin: 20px;
}
#game_paragraph_1 {
    grid-area: p1;
    text-align: center;
}
#game_image_1 {
    grid-area: i1;
    justify-self: end;
    margin: 20px;

    width: 30vw;
}
#game_paragraph_2 {
    grid-area: p2;
    margin: 20px;
}

#game_quote {
    grid-area: qu;

    margin: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
#game_quote h2 {
    text-align: center;
    font-style: italic;
}
#game_quote p {
    text-align: center;
}

#game_git_link {
    grid-area: li;
    justify-self: center;
    margin: 20px;
}
#game_git_link p {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    a {
        font-size: 1.5rem;
    }
    p {
        font-size: 1.2rem;
    }
    #hedader {
        display: none;
        grid-template-areas: none;
    }

    #header header {
        display: none;
    }
    
    #header header div {
        display: none;
    }

    #burger_menu {
        z-index: 1;
        display: block;
        position: fixed;
        left: 80vw;
        top: 2vh;
        cursor: pointer;
    }
    #burger_menu div {
        background-color: rgb(255, 255, 255);
        width: 40px;
        height: 10px;
        margin: 10px;
    }

    #link_list {
        z-index: 1;
        position: fixed;
        top: 0px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        transition: 0.2s;
    }

    .link_list_closed {
        transform: translateY(-100vh);
    }
    
    #link_list ul {
        flex-direction: column;
        align-items: center;
    }

    #link_list ul li {
        margin-bottom: 10vh;
        display: initial;
    }

    .header_link {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .sublink {
        margin-top: 0px;
    }

    #read_more_arrow {
        top: 80%;
    }

    #read_more_arrow h2 {
        text-align: center;
    }
    
    #read_more_arrow svg {
        fill: rgb(255, 255, 255);
        transform: scale(1.3, 1);
    }

    #start_grid {
        position: absolute;
        top: 100vh;
        width: 100%;
        height: 1000px;
    
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "p1"
        "i1"
        "p2"
        "i2";
    
        justify-content: center;
        align-items: start;
    
        background-color: rgb(24, 25, 27);
    }
    
    #start_paragraph_1 {
        grid-area: p1;
    
        margin: 40px;
    }
    #start_paragraph_1 h1 {
        text-align: center;
    }
    #start_paragraph_1 p {
        text-align: center;
    }
    #start_image_1 {
    }
    #start_image_2 {
        grid-area: i2;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
    }
    #start_paragraph_2 {
        grid-area: p2;
    }
    #start_paragraph_2 h1 {
        text-align: center;
    }
    #start_paragraph_2 p {
        text-align: center;
    }


    #game_list {
        grid-template-columns: 100vw;
        grid-template-rows: 500px 500px 500px 500px;
        grid-template-areas: 
        "g1"
        "g2"
        "g3";
    }
    #game_list a {
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #game_grid {
        grid-template-columns: 100vw;
        grid-template-areas: 
        "ti"
        "p1"
        "i1"
        "p2"
        "qu"
        "li";
        justify-content: end;
    }
    #game_title {
        text-align: center;
        margin-bottom: 20px;
    }
    #game_paragraph_1 {
        text-align: center;
        margin: 20px;
    }
    #game_image_1 {
        justify-self: center;
        margin: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100vw;
    }
    #game_paragraph_2 {
        text-align: center;
        margin: 20px;
    }
}